* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #111;
  line-height: 1.6;
}

.btn.resume {
  background-color: transparent;
  border: 2px solid #e91e63;
  color: #e91e63;
  margin-left: 15px;
}
.btn.resume:hover {
  background-color: #e91e63;
  color: white;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.logo span {
  color: #e91e63;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
nav a:hover {
  color: #e91e63;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 60px 80px;
  background: linear-gradient(to right, #000, #111);
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 700;
}
.hero-text h2 {
  color: #e91e63;
  font-weight: 500;
  margin: 10px 0;
}
.hero-text .btn {
  background: #e91e63;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
}

.hero-img img {
  width: 400px;
  border-radius: 8px;
}

section {
  padding: 80px 60px;
}

.about, .skills, .projects, .contact {
  background-color: #1a1a1a;
  margin-bottom: 10px;
  border-radius: 10px;
}

h2 {
  font-size: 36px;
  color: #e91e63;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #000;
}
